<p id="notice"><%= notice %></p>

<h2 class="todo_list_titulo"><%= @todo_list.titulo %></h2>

<p class="todo_list_sub_titulo"><%= @todo_list.descripcion %></p>

<div id="todo_items_wrapper">
  <%= render @todo_list.todo_items %>
  <div id="form">
    <%= render "todo_items/form" %>
  </div>
</div>

<div class="links">
  <%= link_to 'Editar', edit_todo_list_path(@todo_list) %> |
  <%= link_to 'Borrar', todo_list_path(@todo_list), method: :delete, data: { confirm: "Estás seguro?" } %> |
  <%= link_to 'Regresar', todo_lists_path %>
</div>
