<!DOCTYPE html>
<html>
  <head>
    <title>Agenda</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>

  <body>

    <ul class="nav justify-content-end">
      <%- if user_signed_in? %>
          <%= link_to 'Salir', destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to 'Iniciar Sesion', new_user_session_path %>
          <%= link_to ' Registrarme', new_user_registration_path %>
      <% end %>
    </ul>


    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>

  </body>
</html>
